@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #0c0e69, #0f6e8b, #5ff1e5);
  color: white;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
  padding-top: 6rem;
}

header, form {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form input, form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form input {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  outline: none;
}

form button {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: white;
  color: #386292;
  cursor: pointer;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

form button:hover {
  background: #386292;
  color: white;
}

.todo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo-container .todo-list {
  min-width: 30%;
  list-style: none;
}

.todo-container .todo-list .todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.todo-container .todo-list .todo li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0rem 3rem;
}

.todo-container .todo-list .todo .trash-btn, .todo-container .todo-list .todo .complete-btn {
  background: #00ff0d;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.todo-container .todo-list .todo .trash-btn {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: red;
}

.fa-trash, .fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  -webkit-transform: translateX(4rem);
          transform: translateX(4rem);
  opacity: 0;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: none;
  border-radius: 1rem;
  color: #0c0e69;
  width: 10rem;
  cursor: pointer;
  padding: 1.1rem;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.select::after {
  content: "\25BC";
  position: absolute;
  color: #0c0e69;
  top: 0;
  right: 2%;
  padding: 1rem;
  pointer-events: none;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.select:hover::after {
  color: #26b8e4;
}
/*# sourceMappingURL=style.css.map */